@font-face {
  src:
    url('iconfont.woff2?t=1752722597465') format('woff2'),
    url('iconfont.woff?t=1752722597465') format('woff'),
    url('iconfont.ttf?t=1752722597465') format('truetype');
  font-family: 'iconfont'; /* Project id 4966024 */
}

.iconfont {
  font-style: normal;
  font-size: 16px;
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-luwang:before {
  content: '\e69b';
}

.icon-quxiaoquanping_o:before {
  content: '\eb98';
}

.icon-quanping_o:before {
  content: '\eb99';
}

.icon-weixing:before {
  content: '\e6ad';
}

.icon-ditudingwei:before {
  content: '\e625';
}

.icon-ditu:before {
  content: '\e613';
}

.icon-changdu:before {
  content: '\e654';
}

.icon-mianjiceliang:before {
  content: '\e604';
}
